body {
  margin: 50px;
  font-family: Verdana;
  color: rgb(235, 195, 18);
  text-align: center;
  background-image: url();
  background-color: rgb(7, 95, 66);
}

.opening {
  padding: 20px;
  border-bottom: double rgb(36, 8, 62);
  border-top: double rgb(36, 8, 62);
  font-size: large;
}

button {
  margin-block: 30px;
  font-family: Impact;
  font-size: larger;
  line-height: 10px;
  background-color: blueviolet;
  padding: 20px;
  outline: 10px solid rgb(235, 195, 18)
}

.question {
  font-size: 25px;
  padding: 30px;
  border: 1px solid rgb(36, 8, 62);
  margin: 10px;
}

label {
  font-size: 25px;
  text-align: center;
}

input {
  background-color: rgb(36, 8, 62);
  color: rgb(235, 195, 18);
}

h1 {
  border: 10px inset rgba(124, 79, 165, 0.696);
  padding: 15px;
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
}

p {
  font-size: 14px;
}

.hidden {
  display: none;
}